# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.so.*

# Fortran module files
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*/.vscode/*
